:root { 
--gray_50_01:#f3f9ff; 
--gray_400:#babec3; 
--blue_gray_200:#b6bdc4; 
--blue_gray_100:#d1d6da; 
--light_blue_900_01:#0855a1; 
--amber_500:#ffb80f; 
--blue_gray_300:#9fa9b3; 
--blue_gray_600:#626e79; 
--blue_500:#1b88f4; 
--blue_gray_500:#727d87; 
--blue_gray_600_01:#5c6874; 
--red_400:#ef4c5d; 
--gray_300:#e1e4e6; 
--gray_50:#fbfcfd; 
--light_blue_900:#074786; 
--blue_50:#ebf5ff; 
--gray_100:#f2f4f7; 
--red_50:#fff4ed; 
--yellow_900:#ff7724; 
--blue_gray_800:#2c384a; 
--blue_gray_700:#4b5665; 
--blue_gray_900:#212731; 
--white_A700:#ffffff; 
}